<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>BarkHour</title>
</head>
<body>
  <div th:if = "${name} == null">
    <h1>Woof! Welcome to BarkHour.</h1>
  </div>
  <div th:unless = "${name} == null">
    <h1>Woof! Welcome <span th:text="${name}"></span>!</h1>
    <a href="/account"><button>My Account</button></a>
    <a href="/new-event"><button>Create Event</button></a>
    <a href="/logout"><button>Signout</button></a>
  </div>
</body>
</html>