<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Event</title>
</head>
<body>
  <h2>Create Event</h2>
  <form action="/event-status" method="post">
    <label for="event_name">Event name:</label><br>
    <input type="text" id="event_name" name="event_name" th:value="${event_name}"><br><br>
    <label for="about">About:</label><br>
    <input type="text" id="about" name="about" th:value="${about}"><br><br>
    <label for="venue">Venue:</label><br>
    <input type="text" id="venue" name="venue" th:value="${venue}"><br><br>
    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address" th:value="${address}"><br><br>
    <label for="city">City:</label><br>
    <input type="text" id="city" name="city" th:value="${city}"><br><br>
    <label for="state">State:</label><br>
    <input type="text" id="state" name="state" th:value="${state}"><br><br>
    <label for="state">Country:</label><br>
    <input type="text" id="country" name="country" th:value="${country}"><br><br>
    <label for="state">Zip/ Postal Code:</label><br>
    <input type="number" id="zip" name="zip" th:value="${zip}"><br><br>
    <label for="event_start">Start:</label><br>
    <input type="datetime-local" id="event_start" name="event_start" th:value="${event_start}"><br><br>
    <label for="event_end">End:</label><br>
    <input type="datetime-local" id="event_end" name="event_end" th:value="${event_end}"><br><br>
    <label for="num_tickets">Available seats:</label><br>
    <input type="number" id="num_tickets" name="num_tickets" th:value="${num_ticket}"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>