<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Transactions</title>
</head>
<body>
<h3>TRANSFER TICKETS</h3><br>
<p>List of purchased ticket:</p><br>
<table>
  <thead>
  <tr class="headings">
    <th th:each="header: ${headers}" class="column-title" th:text="${header}" />
  </tr>
  </thead>
  <tbody>
  <tr th:each="ticket: ${tickets}">
    <td th:text="${ticket.ticketId}"></td>
    <td th:text="${ticket.eventName}"></td>
    <td th:text="${ticket.eventId}"></td>
    <td th:text="${ticket.organizer}"></td>
    <td th:text="${ticket.ticketCount}"></td>
    <td><a th:href="@{/ticket-transfer/{event_id}(event_id=${ticket.eventId})}"><button>Transfer</button></a> </td>
  </tr>
  </tbody>
</table>
<a href="/home"><button>Home</button></a>
<a href="/events"><button>All Events</button></a>
<a href="/new-event"><button>Create Event</button></a>
<a href="/logout"><button>Logout</button></a>
</body>
</html>