<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Buy Ticket</title>
</head>
<body>
<h2>Buy Ticket</h2>
<form th:action="@{/ticket-purchase/{event_id}(event_id=${event_id})}" method="post">
<!--  <label for="event_id">Event ID:</label><br>-->
  <input type="hidden" id="event_id" name="event_id" th:value="${event_id}" readonly><br><br>
<!--  <label for="userid">User ID:</label><br>-->
  <input type="hidden" id="userid" name="userid" th:value="${userid}" readonly><br><br>
  <label for="num_ticket">Number of tickets:</label><br>
  <input type="number" id="num_ticket" name="num_ticket" th:value="${num_ticket}" min="1" required="required"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>