<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Events</title>
</head>
<body>
<table>
  <thead>
  <tr class="headings">
    <th th:each="header: ${headers}" class="column-title" th:text="${header}" />
  </tr>
  </thead>
  <tbody>
  <tr th:each="transaction: ${transactions}">
    <td th:text="${transaction.transactionId}"></td>
    <td th:text="${transaction.eventId}"></td>
    <td th:text="${transaction.eventName}"></td>
    <td th:text="${transaction.ownerId}"></td>
    <td th:text="${transaction.ownerName}"></td>
    <td th:text="${transaction.transactionCount}"></td>
    <td th:datetime="${transaction.timestamp}"></td>
    <td><a th:href="@{/ticket-transfer/{event_id}(event_id=${transaction.eventId})}"><button>Transfer</button></a> </td>
  </tr>
  </tbody>
</table>
<a href="/home"><button>Home</button></a>
<a href="/events"><button>All Events</button></a>
<a href="/new-event"><button>Create Event</button></a>
<a href="/logout"><button>Logout</button></a>
</body>
</html>