<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Events</title>
</head>
<body>

  <div class="search-container">
    <form action="/event">
      <input type="text" placeholder="Search event name.." name="search">
      <button type="submit">Search</button>
    </form>
  </div>

  <table>
    <thead>
    <tr class="headings">
      <th th:each="header: ${headers}" class="column-title" th:text="${header}" />
    </tr>
    </thead>
    <tbody>
    <tr th:each="event: ${events}">
      <td th:text="${event.eventName}"></td>
      <td th:text="${event.about}"></td>
      <td th:text="${event.venue}"></td>
      <td th:text="${event.city}"></td>
      <td th:text="${event.eventStart}"></td>
      <td th:text="${event.eventEnd}"></td>
      <td><a th:href="@{/update-event/{eventId}(eventId=${event.eventId})}"><button>Update</button></a></a> </td>
    </tr>
    </tbody>
  </table>
  <a href="/home"><button>Home</button></a>
  <a href="/events"><button>All Events</button></a>
  <a href="/new-event"><button>Create Event</button></a>
  <a href="/logout"><button>Logout</button></a>
</body>
</html>